<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/variables.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/chooseAccount.css">
    <title>Select Profile</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="profile-selection">
        <h1 class="glowing-text">Choose Your Profile</h1>
        <div class="profile-icons">
            <% profiles.forEach(profile => { %>
            <div class="profile-icon" onclick="showPasswordPrompt('<%= profile.first_name %> <%= profile.last_name %>', '<%= profile.profile_id %>')">
                <p><%= profile.first_name %> <%= profile.last_name %></p>
            </div>
            <% }); %>
            <!-- Button for adding a new profile -->
            <a href="/chooseaccount/add-profile" class="profile-icon" style="cursor:pointer;">
                <p>+</p>
            </a>
        </div>
        <div class="pin-pad" id="passwordPrompt">
            <div class="pin-pad-text">Enter PIN:</div>
            <div class="pin-pad-row" id="passwordDots">
                <div class="pin-dot" id="pinDot1"></div>
                <div class="pin-dot" id="pinDot2"></div>
                <div class="pin-dot" id="pinDot3"></div>
                <div class="pin-dot" id="pinDot4"></div>
            </div>
            <div class="pin-pad-row">
                <button class="btn" onclick="addToPin(1)">1</button>
                <button class="btn" onclick="addToPin(2)">2</button>
                <button class="btn" onclick="addToPin(3)">3</button>
            </div>
            <div class="pin-pad-row">
                <button class="btn" onclick="addToPin(4)">4</button>
                <button class="btn" onclick="addToPin(5)">5</button>
                <button class="btn" onclick="addToPin(6)">6</button>
            </div>
            <div class="pin-pad-row">
                <button class="btn" onclick="addToPin(7)">7</button>
                <button class="btn" onclick="addToPin(8)">8</button>
                <button class="btn" onclick="addToPin(9)">9</button>
            </div>
            <div class="pin-pad-bottomRow">
                <button class="pin-pad-x" onclick="clearPin()">X</button>
                <button class="btn" onclick="addToPin(0)">0</button>
                <button class="pin-pad-tick" onclick="submitPin()">✅</button>
            </div>
        </div>
    </div>
    <script src="/js/chooseAccount.js"></script>
</body>
</html>
